/*HTML elements*/

body {
   font-family: 'Droid Sans', sans-serif;
}

/*Material Design Lite Elements*/
mdl-layout {
	align-items: center;
  justify-content: center;
}
.mdl-layout__content {
	padding: 24px;
	flex: none;
}
