{% extends "default.html" %}

{% block content %}
<div class="mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--black-100">
	<main class = "mdl-layout__content">
		<!-- <div class="mdl-grid"> -->
			<!-- <div class="mdl-cell mdl-shadow--4dp mdl-cell--2-col mdl-cell--6-col--tablet mdl-cell--4-col--phone"> -->
				<!-- <div> -->
					<h4>Update Venue</h4>
				<!-- </div> -->
			<!-- </div> -->
			<br>
			<div class="row">
				<br>
				<form method = "post">
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" name="name"  value = {{venue.name}}/>
						<label class="mdl-textfield__label" for="username">Name</label>
					</div>
					<br>
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" name="description" value = {{venue.description}}/>
						<label class="mdl-textfield__label" for="description">Description</label>
					</div>
					<br>
					<br>
          <div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" name="url" value = {{venue.url}}/>
						<label class="mdl-textfield__label" for="url">URL</label>
					</div>
					<br>
			</div>
		</div>
		<div class="">
		<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{url_for('updateVenue', arenas_id = venue.id)}}">Edit</a>
		<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{url_for('deleteVenue',  arenas_id = venue.id)}}">Delete</a>
		</div>
	</main>

<!-- </div> -->
{% endblock %}
