{% extends "default.html" %}

{% block content %}
<div class="mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--black-100">
	<main class = "mdl-layout__content">
					<h4>Update Venue</h4>
			<br>
			<div class="row">
				<br>
				<form method = "post">
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" placeholder="Venue Name" name="name"  value = {{venue.name}} />
					</div>
					<br>
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" placeholder="description"name="description" value = {{venue.description}}/>
					</div>
					<br>
					<br>
					<div class="mdl-textfield mdl-js-textfield">
						<input class="mdl-textfield__input" type="text" placeholder= "Image URL" name="url" value = {{venue.url}}/>
					</div>
					<br>
				</form>
			</div>
		</div>
		<div class="">
			<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit">Update</button>
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{url_for('show_venues')}}">Cancel</a>
		</div>
	</main>


{% endblock %}
